
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;

}

a:hover {
    color: #ff1f31;
}

a {
  text-decoration: none;
  color: #f8f8f8;
}


li {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Hepta Slab', serif;
  align-items: center;
  background-color: #232323;
  color: #f8f8f8;
}

button {
  display: block;
}

.btn {
  background-color: #fc0b00;
  color: #f8f8f8;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  display: inline;
  padding: 13px 26px;
  border: none;
  border-radius: 0;
  letter-spacing: 0.3em;
  text-align: center;
  transition: all 0.5s ease-in;

  &:hover {
    background: #8c1920;
  }
}

h1, h2, h3, h4, h5 {
  font-style: normal;
  font-weight: 900;
  color: #f8f8f8;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 22px;
}

a {
  text-decoration: none;
}


ul, li {
  display: block;
  padding: 0;
  margin: 0;
}


.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}



.header {
  overflow: hidden;

  .top-panel {
    width: 100%;
    height: 78px;
    color: #f8f8f8;
  }

  .container {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
  }

  .top-row-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .top-panel-left {
      font-size: 14px;
      font-weight: 500;
    }

    .top-panel-right {
      display: flex;
      align-items: center;

    }

    .intro-navigation {
      margin-top: 30px;

      .intro-nav-link {
        position: relative;
        color: #f8f8f8;
        margin-right: 52px;
        text-decoration: none;
        letter-spacing: 0.3em;
        text-transform: uppercase;


      }

      .intro-nav-link:after {
        position: absolute;
        right: -35px;
        top: 10px;
        content: "";
        display: block;
        height: 8px;
        width: 8px;
        background-color: #ff0001;
        transform: rotate(45deg);
      }

      .intro-nav-link:last-child {
        margin-right: 0;
      }

      .intro-nav-link:last-child:after {
        display: none;
      }

      .intro-nav-link:hover, .active {
        color: #fc0b00;

      }
    }


  }
}



.top-info {
  padding-top: 44px;
  padding-bottom: 60px;

  .top-info__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;

    &.second {
      flex-direction: row-reverse;
      display: flex;
    }

    .info-wide {
      width: 100%;
      max-width: 900px;
      height: 100%;
      z-index: 1;

      .info-wide__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

      }

      &.second {

      }

      .info__content {
        opacity: 0;
        background-color: rgba(255, 43, 20, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: 900px;
        z-index: 3;
        transition: opacity 0.2s ease-in;

        &:hover {
          opacity: 1;
        }

        &.second {
          position: absolute;
          left: 540px
        }

        .info__content-title {
          position: absolute;
          top: 100px;
          left: 35px;
          width: 400px;
          font-family: Kaushan_;
          font-size: 70px;
          font-weight: 500;
          letter-spacing: 2.73px;
          line-height: 0.9;
          text-transform: uppercase;
        }

        .info__content-discount {
          position: absolute;
          right: 30px;
          bottom: 30px;
          width: 200px;
          font-family: Kaushan_;
          font-size: 40px;
          font-weight: 500;
          letter-spacing: 2.73px;
          line-height: 1;
          text-transform: uppercase;

          span {
            font-family: Kaushan_;
            font-size: 30px;
            font-weight: 700;
            letter-spacing: -2.73px;
            line-height: 1;
            text-transform: uppercase;
          }
        }
      }
    }

    &.second {

    }

    .info {
      position: absolute;
      top: 0;
      right: 0;
      width: 420px;
      height: 100%;


      img {
        width: 100%;
        max-width: 420px;
        height: 100%
      }

      &.second {
        position: absolute;
        left: 0;
      }

    }

    .info__subcontent {
      opacity: 0;
      background-color: rgba(255, 43, 20, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: 900px;
      z-index: 3;
      transition: opacity 0.2s ease-in;

      &:hover {
        opacity: 1;
      }
    }


    .info__content-subtitle {
      position: absolute;
      top: 100px;
      left: 60px;
      width: 400px;
      font-family: Kaushan_;
      font-size: 42px;
      font-weight: 500;
      letter-spacing: 2.73px;
      line-height: 1;
      text-transform: uppercase;

    }

    .info__content-subdiscount {
      position: absolute;
      right: 30px;
      bottom: 30px;
      width: 200px;
      font-family: Kaushan_;
      font-size: 42px;
      font-weight: 500;
      letter-spacing: 2.73px;
      line-height: 1;
      text-transform: uppercase;

      span {
        font-family: Kaushan_;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: -2.73px;
        line-height: 1;
        text-transform: uppercase;
      }

    }
  }
}


.roll {
  display: flex;
}

.checkbox-group {

  position: relative;
  width: 86px;
  height: 30px;
  background-color: #333;
  border-radius: 50px;
  margin: 0 auto;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.2);


}

.checkbox-group:after {
  position: absolute;
  content: "";
  top: 14px;
  left: 14px;
  height: 2px;
  width: 56px;
  background-color: #111;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

.checkbox {
  visibility: hidden;
}

.checkbox-label {
  position: absolute;
  top: 4px;
  left: 4px;
  display: block;
  height: 22px;
  width: 22px;
  border-radius: 50px;
  background: #fff;
  z-index: 1;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, #fc0b00 0%, #ff374a 40%, rgb(255, 31, 49) 100%);
  transition: all 0.4s ease;
  cursor: pointer;
}

.checkbox-label:after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: #333;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.9), 0 1px 0 rgba(255, 255, 255, 0.8);

}

.checkbox:checked + .checkbox-label {
  left: 54px;
}


.products {
  padding-top: 60px;
  padding-bottom: 65px;

  .products__title {
    margin-bottom: 45px;
    color: #f8f8f8;
    font-weight: 700;
    font-size: 53px;
    text-align: center;
    text-transform: uppercase;

  }

  .products-filter {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #b2b2b2;
    padding-bottom: 45px;
    margin-bottom: 75px;

    .product-filter-item {
      margin-right: 45px;
      font-size: 21px;
      font-weight: 600;
      line-height: 1.3;
      transition: color 0.2s ease-in;

      &:last-child {
        margin-right: 0;
      }

      &.active {
        color: #fc0b00;
      }

      &:hover {
        color: #fc0b00;
      }


    }
  }

  .products-row {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .products-card {
      width: 30%;

      .product-card__img {
        height: 380px;
        display: flex;

      }

      img {
        width: 100%;
        height: 100%;
        max-height: 350px;
        max-width: 400px;
        object-fit: cover;
        object-position: center;
        border-radius: 25%;
      }

      .products-card-title {
        font-size: 21px;
        color: #f8f8f8;
        font-weight: 400;
        font-family: Kaushan_;
        line-height: 1.1;
        text-align: center;
        padding-bottom: 10px;
      }

      .products-card-price {
        font-size: 30px;
        font-weight: 400;
        color: #ff1f31;
        line-height: 1.1;
        text-align: center;
      }
    }

  }
}




.menu-icon {
  position: relative;
  z-index: 19;
  display: none;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.menu-icon-active {
  .menu-icon-line {
    background-color: transparent;
    display: block;
    transition: 0.2s;
  }

  .menu-icon-line:before {
    transform: rotate(45deg);
    top: 0;
    transition: transform 0.2s ease-in;
  }

  .menu-icon-line:after {
    transform: rotate(-45deg);
    top: 0;
    transition: transform 0.2s ease-in;
  }
}


.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background-color: rgba(52, 58, 64, 0.5);
  line-height: 45px;
  display: none;
  cursor: pointer;
}


.menu-icon-line {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #f8f8f8;


  &:after {
    position: absolute;
    content: "";
    left: 0;
    top: 10px;
    width: 30px;
    height: 5px;
    background-color: #f8f8f8;
    transition: transform 0.2s ease-in;


  }

  &:before {
    position: absolute;
    content: "";
    left: 0;
    top: -10px;
    width: 30px;
    height: 5px;
    background-color: #f8f8f8;
    transition: transform 0.2s ease-in;


  }

}

.mobile-nav {
  opacity: 0;
  padding: 50px;
  z-index: 6;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 350px;
  background-color: rgba(3, 3, 3, 0.7);

  .mobile-nav:active {
    opacity: 1;
    display: block;
  }

  .mobile-nav__title {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 30px;
    color: #ff1f31;

    .mobile-nav__list {
      list-style-type: none;
      margin: 0;
      padding: 0;

    }

  }

  .mobile-nav__item {
    margin-bottom: 30px;

    .mobile-nav__link {
      text-decoration: none;
      font-weight: 600;
      font-size: 22px;
      transition: color 0.2s ease-in;

      &:hover {
        color: #fc0b00;
      }
    }
  }


}




.show {
  display: block;
}

.gravity {
  height: 100vh;
  margin-top: 200px;

  .nav {
    margin-bottom: 147px;
    position: relative;

    .container {

      .row {

        .col-md-4 {

          img {
            width: 100%;
            height: 100%;
            max-width: 100px;
          }
        }

        .col-md-3 {
          .menu {
            width: 100%;
            background-color: transparent;
            max-width: 75px;
            border: none;

            img {
              width: 100%;
              height: 100%;
              max-width: 50px;
              max-height: 50px;
            }
          }
        }

        .col-md-3 {
          .search {
            width: 100%;
            align-items: center;
            max-width: 75px;
            background: transparent;
            border: none;

            img {
              width: 100%;
              max-width: 50px;
            }
          }
        }

        .video {
          position: absolute;
          left: -160px;
          bottom: 166px;
          width: 400px;
          height: 310px;
          display: block;
          background: url("../img/apostolos-vamvouras-74uGwgJUtsk-unsplash.jpg") no-repeat;
          background-size: cover;
          display: flex;
          justify-content: center;
          align-items: center;


          &:after {
            content: '';
            display: block;
            background: url("../img/youtube.svg");
            width: 65px;
            height: 65px;
          }
        }
      }
    }

    .offer {

      .offer-count {
        margin-top: 150px;

        .offer-count-title {
          font-size: 48px;
          letter-spacing: 0.05em;
          font-weight: 700;
        }

        .offer-count-text {
          margin: 30px 0 56px;
        }
      }

    }

    .hero {
      background: url("../img/jansen-yang-l-Ihazll6D8-unsplash.jpg") no-repeat right top;
      background-size: cover;
      width: 600px;
      height: 800px;
      right: 100px;
      position: absolute;
      top: 0;
    }
  }
}

.problems {
  padding-top: 140px;

  .poster {
    width: 100%;

    img {
      width: 100%;
      max-width: 720px;
      height: 100%;

    }
  }

  .about {
    .about-title {
      font-size: 38px;
      margin-bottom: 30px;
    }

    .about-text {

    }
  }

  .about-author {
    background: url("../img/user.svg") no-repeat left center;
    padding: 5px 0 5px 110px;
    margin-top: 40px;

    .about-name {
      font-size: 20px;
      padding-top: 15px;
    }
  }
}

.services {
  padding-top: 140px;

  .section-title__label {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin-bottom: 40px;

  }

  .serv-list {
    color: #ff1f31;
    margin-top: 70px;

    .serv-list__item {
      margin-bottom: 20px;
    }

  }

  .serv-list__left {
    margin-left: 37px;

  }

  .slider {
    margin-top: 100px;
  }

  .owl-carousel .item, .owl-item {
    width: 100%;
    max-width: 920px !important;
    position: relative;


  }

  .owl-theme .owl-nav {
    text-align: left;
  }

  .owl-carousel .owl-prev {
    margin-right: 25px !important;
  }

  .owl-nav {
    display: flex;
    margin-top: 50px;
  }

  .owl-carousel__play {
    display: block;
    background: url("../img/youtube.svg");
    height: 65px;
    width: 65px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
  }


}

.results {
  padding-top: 220px;


  .collage {
    width: 50%;
    height: 500px;
    background: url("../img/skate2.jpg") no-repeat left top / 80% 80%;
    background-size: cover;
    position: absolute;
    left: 0;


  }

  .collage img {
    display: block;
    position: absolute;
    width: 350px;
    object-fit: cover;
    height: 450px;
    right: -50px;
    bottom: -250px;

  }

  .easy {
    margin-left: 130px;

    .easy-title {
      margin-bottom: 30px;
    }

    .easy-text {
      margin-bottom: 62px;
    }

    .easy-point {
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 0.3em;
      font-weight: 500;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      display: block;
      text-decoration: none;
      cursor: pointer;

      transition: all 0.4s ease;



      .social-text {
        padding-left: 15px;
      }

      .easy-photo__first {
        transition: all 0.5s ease;
      }

      .easy-photo__first:hover  {
        transform: scale(1.3);

      }
      .easy-photo__second {
        transition: all 0.5s ease;
      }

      .easy-photo__second:hover  {
        transform: scale(1.3);

      }



    }


  }
}




.be-static {
    position: static;
  }

.works {
    padding-top: 480px;

    .works-tabs {
      margin-left: 130px;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      margin-top: 70px;

      .works-tabs__item a {
        color: #ff1f31;
        text-decoration: none;
        transition: all 0.3s ease-in;

        &:hover {
          color: #f8f8f8;
        }
      }
    }

    .works-wrap {
      flex-wrap: wrap;
      margin-top: 100px;


    }

    .works-wrap__item {
      margin-bottom: 30px;
      transition: all 1s ease-in;
      display: block;
      position: relative;

      img {
        width: 100%;
        object-fit: cover;
        max-width: 380px;
        height: 100%;
        max-height: 280px;
        transition: all 0.5s ease-in-out;
      }
    }

    .works-wrap__item img {
      &:hover {
        box-shadow: -1px 1px 5px rgb(255, 0, 1);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: all 0.5s ease;
      }


    }

    .works-wrap__item:hover:after {

      content: "";
      display: block;
      height: 65px;
      width: 65px;
      background: url("../img/youtube.svg");
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -30px;
      margin-top: -30px;
    }

    .tabs__content {
      display: none !important;
    }

    .tabs__content.active {
      display: flex !important;
      transition: all 0.5s ease-in-out;
    }

  }

.testimonials {
    padding-top: 250px;

    .contributor {
      margin-top: 120px;
    }

    .contributor__title {
      margin-bottom: 20px;
    }

    .cont-photo {
      display: block;
      width: 100%;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .contribution-carousel .owl-nav {
      display: flex;

      .owl-prev {
        margin-right: 25px !important;
      }
    }
  }

.clients {
    padding-top: 280px;

    .clients-row {
      margin-top: 125px;

      .clients-row__item {

        img {
          width: 100%;
          max-width: 85px;
        }
      }
    }


  }
.social {
  .create-box {
    margin-top: 120px;
    .create {
      font-size: 17px;
      letter-spacing: 0.3em;
      position: relative;
    }


    }
  .create-social__box {


    .create-social  {
      display: block;
      margin-left: 15px;
      transition: all 0.5s ease-out;
      width: 100%;
      position: absolute;
      top: 115px;
      left: 335px;

      &:nth-child(2) {
        top: 70px;
        left: 290px;
      }
      &:nth-child(3)  {
        top: 160px;
        left: 290px;
      }

      .create-link  {

        text-decoration: none;
        cursor: pointer;

        transition: all 0.4s ease;
      }

      .create-link:hover  {
        transform: scale(1.2);


      }
    }
  }
}









@media screen and (min-width: 1200px){

  .gravity  {
    .nav  {
      .hero {
        width: 435px;
        height: 600px;

      }
    }
  }

}






  @media screen and (max-width: 1200px)  {

    .gravity {
      margin-top: 0;
      height: auto;

      .nav {
        .hero {
          position: relative;
          width: 100%;
          height: 550px;
          top: 0;
        }

        .responsive {
          display: flex;
          flex-flow: column;
          align-items: center;
          margin: 0 auto;
        }

        .container {
          .row {
            .video {
              left: 50px;
              bottom: -100px;
              width: 250px;
              height: 200px;
            }
          }
        }

        .offer {
          .offer-count {
            margin-top: 0;

            .offer-count-title {
              font-size: 32px;
            }
            .offer-count-text {
              font-size: 17px;
            }
            .btn  {
              font-size: 12px;
            }
          }
        }
      }

      .be-static {
        margin: 0 auto;
        margin-top: 80px;
      }
    }
    .intro-nav-link {
      display: none;
    }
    .menu-icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .works {
      .works-tabs {
        margin-left: 0;
      }

      .works-wrap {
        .works-wrap__item {
          width: 30%;

          img {
            display: block;
            width: 100%;
          }
        }
      }
    }

    .problems {
      padding-top: 100px;
      .about  {
        .about-title  {
          font-size: 32px;
        }
        .about-text {
          font-size: 17px;
        }
      }
    }
    .services {
      .slider {
        margin-top: 50px;
      }
      .section-title__heading {
        font-size: 32px;
      }
    }
    .works {
      padding-top: 315px;
      .section-title__heading  {
        font-size: 32px;
      }
    }
    .results  {
      .easy {
        .easy-title {
          font-size: 32px;
        }
        .easy-text  {
          font-size: 19px;
        }
      }
    }
    .testimonials {
      .contribution-title__heading  {
        font-size: 32px;
      }
    }


  }


  @media screen and (max-width: 768px) {


    .works {
      .works-tabs {
        margin-left: 0;
      }
    }
    .gravity {
      .nav {
        .hero {
          position: relative;
          width: 100%;
          height: 200px;
          top: 0;
          max-width: 255px;
        }
        .offer  {
          .offer-count  {
            width: 100%;

          }
        }
        .responsive {
          align-items: center;
          margin: 0 auto;
        }
      }
    }

    .results {
      .collage {
        position: relative;
        width: 100%;
        max-width: 560px;

        img {
          width: 100%;
          max-width: 300px;
          height: 100%;
          max-height: 380px;
        }
      }

      .easy {
        margin-top: 0px;
        margin-left: 65px;
      }
      .easy-title {
        font-size: 30px;
        width: 100%;
        max-width: 420px;
      }
      .easy-text  {
        font-size: 17px;
        width: 100%;
        max-width: 420px;
      }
    }

    .owl-carousel {
      .owl-item {
        img {
          width: 100%;
          height: 100%;
          max-height: 600px;
          object-fit: cover;

        }
      }

    }
    .problems {
      padding-top: 60px;
      .poster {
        width: 100%;
        height: auto;
        max-width: 400px;
      }
      .about  {
        margin-top: 50px;
        .about-title {
          font-size: 30px;
          width: 100%;
          max-width: 380px;
        }
        .about-text {
          font-size: 16px;
          width: 100%;
          max-width: 500px;
        }
        .about-author {
          .about-name {
            font-size: 18px;
          }
        }
      }
    }
    .works  {
      margin-top: 215px;
    }
    .services {
      .section-title__heading {
        font-size: 27px;
      }
      .serv-list__left  {
        font-size: 17px;
      }
      .serv-list__right {
        font-size: 17px;
      }
    }
    .testimonials {
      .contribution-title__heading  {
        font-size: 32px;
      }
    }
  }

@media screen and (max-width: 450px)  {

  .works {
    margin-top: 0;
    padding-top: 120px;

    .section-title  {
      text-align: center;
    }
    .section-title__heading {
      font-size: 29px;
    }
    .works-tabs {
      letter-spacing: 0;
      font-size: 13px;
    }
    .works-wrap {

    }
  }
  .results  {
    .easy {
      margin-top: 315px;
      .easy-title {
        font-size: 26px;
      }
      .easy-text  {
        font-size: 16px;
      }
    }
  }
  .testimonials {
    padding-top: 220px;
    .contribution-title__heading  {
      font-size: 26px;
    }
    .contribution-title {
      text-align: center;
    }
    .contributor  {
      margin-top: 40px;
    }
    .owl-carousel {
      .owl-item {
        img {
          height: 100%;
          max-height: 480px;
        }
      }
    }
  }

  .clients  {
    padding-top: 80px;
    .contribution-title__heading  {
      font-size: 32px;
      text-align: center;
    }
    .clients-row  {
      margin-top: 80px;
      .clients-row__item  {
        width: 100%;
        max-width: 50px;
      }
    }

  }
  
}












