* {
  margin: 0;
  box-sizing: border-box;
  padding: 0; }

a:hover {
  color: #ff1f31; }

a {
  text-decoration: none;
  color: #f8f8f8; }

li {
  text-decoration: none;
  list-style: none; }

body {
  font-family: 'Hepta Slab', serif;
  align-items: center;
  background-color: #232323;
  color: #f8f8f8;
  transition: all 0.7s ease; }

.white {
  background-color: #f8f8f8;
  color: #333333;
  transition: all 0.5s ease; }

.nav-white {
  color: black !important;
  transition: all 0.7s ease; }

.nav-white:hover {
  color: #ff1f31 !important; }

.checkbox-group.white {
  background-color: #ff1f31;
  transition: all 0.7s ease; }

.checkbox-label.white {
  background-color: black; }

button {
  display: block; }

.btn {
  background-color: #fc0b00;
  color: #f8f8f8;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  display: inline;
  padding: 13px 26px;
  border: none;
  border-radius: 0;
  letter-spacing: 0.3em;
  text-align: center;
  transition: all 0.5s ease-in; }
  .btn:hover {
    background: #8c1920; }

h1, h2, h3, h4, h5 {
  font-style: normal;
  font-weight: 900;
  color: #f8f8f8; }

h2 {
  font-size: 38px; }

h3 {
  font-size: 22px; }

a {
  text-decoration: none; }

ul, li {
  display: block;
  padding: 0;
  margin: 0; }

.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto; }

.header {
  overflow: hidden; }
  .header .top-panel {
    width: 100%;
    height: 78px;
    color: #f8f8f8; }
  .header .container {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto; }
  .header .top-row-panel {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .top-row-panel .top-panel-left {
      font-size: 14px;
      font-weight: 500; }
    .header .top-row-panel .top-panel-right {
      display: flex;
      align-items: center; }
    .header .top-row-panel .intro-navigation {
      margin-top: 30px; }
      .header .top-row-panel .intro-navigation .intro-nav-link {
        position: relative;
        color: #f8f8f8;
        margin-right: 52px;
        text-decoration: none;
        letter-spacing: 0.3em;
        text-transform: uppercase; }
      .header .top-row-panel .intro-navigation .intro-nav-link:after {
        position: absolute;
        right: -35px;
        top: 10px;
        content: "";
        display: block;
        height: 8px;
        width: 8px;
        background-color: #ff0001;
        transform: rotate(45deg); }
      .header .top-row-panel .intro-navigation .intro-nav-link:last-child {
        margin-right: 0; }
      .header .top-row-panel .intro-navigation .intro-nav-link:last-child:after {
        display: none; }
      .header .top-row-panel .intro-navigation .intro-nav-link:hover, .header .top-row-panel .intro-navigation .active {
        color: #fc0b00; }

.roll {
  display: flex; }

.checkbox-group {
  position: relative;
  width: 86px;
  height: 30px;
  background-color: #333;
  border-radius: 50px;
  margin: 0 auto;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.2); }

.checkbox-group:after {
  position: absolute;
  content: "";
  top: 14px;
  left: 14px;
  height: 2px;
  width: 56px;
  background-color: #111;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 50px; }

.checkbox {
  visibility: hidden; }

.checkbox-label {
  position: absolute;
  top: 4px;
  left: 4px;
  display: block;
  height: 22px;
  width: 22px;
  border-radius: 50px;
  background: #fff;
  z-index: 1;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, #fc0b00 0%, #ff374a 40%, #ff1f31 100%);
  transition: all 0.4s ease;
  cursor: pointer; }

.checkbox-label:after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: #333;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.9), 0 1px 0 rgba(255, 255, 255, 0.8); }

.checkbox:checked + .checkbox-label {
  left: 54px; }

.products {
  padding-top: 60px;
  padding-bottom: 65px; }
  .products .products__title {
    margin-bottom: 45px;
    color: #f8f8f8;
    font-weight: 700;
    font-size: 53px;
    text-align: center;
    text-transform: uppercase; }
  .products .products-filter {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #b2b2b2;
    padding-bottom: 45px;
    margin-bottom: 75px; }
    .products .products-filter .product-filter-item {
      margin-right: 45px;
      font-size: 21px;
      font-weight: 600;
      line-height: 1.3;
      transition: color 0.2s ease-in; }
      .products .products-filter .product-filter-item:last-child {
        margin-right: 0; }
      .products .products-filter .product-filter-item.active {
        color: #fc0b00; }
      .products .products-filter .product-filter-item:hover {
        color: #fc0b00; }
  .products .products-row {
    display: flex;
    width: 100%;
    justify-content: space-between; }
    .products .products-row .products-card {
      width: 30%; }
      .products .products-row .products-card .product-card__img {
        height: 380px;
        display: flex; }
      .products .products-row .products-card img {
        width: 100%;
        height: 100%;
        max-height: 350px;
        max-width: 400px;
        object-fit: cover;
        object-position: center;
        border-radius: 25%; }
      .products .products-row .products-card .products-card-title {
        font-size: 21px;
        color: #f8f8f8;
        font-weight: 400;
        font-family: Kaushan_;
        line-height: 1.1;
        text-align: center;
        padding-bottom: 10px; }
      .products .products-row .products-card .products-card-price {
        font-size: 30px;
        font-weight: 400;
        color: #ff1f31;
        line-height: 1.1;
        text-align: center; }

.menu-icon {
  position: relative;
  z-index: 19;
  display: none;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.menu-icon-active .menu-icon-line {
  background-color: transparent;
  display: block;
  transition: 0.2s; }
.menu-icon-active .menu-icon-line:before {
  transform: rotate(45deg);
  top: 0;
  transition: transform 0.2s ease-in; }
.menu-icon-active .menu-icon-line:after {
  transform: rotate(-45deg);
  top: 0;
  transition: transform 0.2s ease-in; }

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background-color: rgba(52, 58, 64, 0.5);
  line-height: 45px;
  display: none;
  cursor: pointer; }

.menu-icon-line {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #f8f8f8; }
  .menu-icon-line:after {
    position: absolute;
    content: "";
    left: 0;
    top: 10px;
    width: 30px;
    height: 5px;
    background-color: #f8f8f8;
    transition: transform 0.2s ease-in; }
  .menu-icon-line:before {
    position: absolute;
    content: "";
    left: 0;
    top: -10px;
    width: 30px;
    height: 5px;
    background-color: #f8f8f8;
    transition: transform 0.2s ease-in; }

.mobile-nav {
  opacity: 0;
  padding: 50px;
  z-index: 6;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 350px;
  background-color: rgba(3, 3, 3, 0.7); }
  .mobile-nav .mobile-nav:active {
    opacity: 1;
    display: block; }
  .mobile-nav .mobile-nav__title {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 30px;
    color: #ff1f31; }
    .mobile-nav .mobile-nav__title .mobile-nav__list {
      list-style-type: none;
      margin: 0;
      padding: 0; }
  .mobile-nav .mobile-nav__item {
    margin-bottom: 30px; }
    .mobile-nav .mobile-nav__item .mobile-nav__link {
      text-decoration: none;
      font-weight: 600;
      font-size: 22px;
      transition: color 0.2s ease-in; }
      .mobile-nav .mobile-nav__item .mobile-nav__link:hover {
        color: #fc0b00; }

.show {
  display: block; }

.gravity {
  height: 100vh;
  margin-top: 200px; }
  .gravity .nav {
    margin-bottom: 147px;
    position: relative; }
    .gravity .nav .container .row .col-md-4 img {
      width: 100%;
      height: 100%;
      max-width: 100px; }
    .gravity .nav .container .row .col-md-3 .menu {
      width: 100%;
      background-color: transparent;
      max-width: 75px;
      border: none; }
      .gravity .nav .container .row .col-md-3 .menu img {
        width: 100%;
        height: 100%;
        max-width: 50px;
        max-height: 50px; }
    .gravity .nav .container .row .col-md-3 .search {
      width: 100%;
      align-items: center;
      max-width: 75px;
      background: transparent;
      border: none; }
      .gravity .nav .container .row .col-md-3 .search img {
        width: 100%;
        max-width: 50px; }
    .gravity .nav .container .row .video {
      position: absolute;
      left: -160px;
      bottom: 166px;
      width: 400px;
      height: 310px;
      display: block;
      background: url("../img/apostolos-vamvouras-74uGwgJUtsk-unsplash.jpg") no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center; }
      .gravity .nav .container .row .video:after {
        content: '';
        display: block;
        background: url("../img/youtube.svg");
        width: 65px;
        height: 65px; }
    .gravity .nav .offer .offer-count {
      margin-top: 150px; }
      .gravity .nav .offer .offer-count .offer-count-title {
        font-size: 48px;
        letter-spacing: 0.05em;
        font-weight: 700; }
      .gravity .nav .offer .offer-count .offer-count-text {
        margin: 30px 0 56px; }
    .gravity .nav .hero {
      background: url("../img/jansen-yang-l-Ihazll6D8-unsplash.jpg") no-repeat right top;
      background-size: cover;
      width: 600px;
      height: 800px;
      right: 100px;
      position: absolute;
      top: 0; }

.problems {
  padding-top: 140px; }
  .problems .poster {
    width: 100%; }
    .problems .poster img {
      width: 100%;
      max-width: 720px;
      height: 100%; }
  .problems .about .about-title {
    font-size: 38px;
    margin-bottom: 30px; }
  .problems .about-author {
    background: url("../img/user.svg") no-repeat left center;
    padding: 5px 0 5px 110px;
    margin-top: 40px; }
    .problems .about-author .about-name {
      font-size: 20px;
      padding-top: 15px; }

.services {
  padding-top: 140px; }
  .services .section-title__label {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin-bottom: 40px; }
  .services .serv-list {
    color: #ff1f31;
    margin-top: 70px; }
    .services .serv-list .serv-list__item {
      margin-bottom: 20px; }
  .services .serv-list__left {
    margin-left: 37px; }
  .services .slider {
    margin-top: 100px; }
  .services .owl-carousel .item, .services .owl-item {
    width: 100%;
    max-width: 920px !important;
    position: relative; }
  .services .owl-theme .owl-nav {
    text-align: left; }
  .services .owl-carousel .owl-prev {
    margin-right: 25px !important; }
  .services .owl-nav {
    display: flex;
    margin-top: 50px; }
  .services .owl-carousel__play {
    display: block;
    background: url("../img/youtube.svg");
    height: 65px;
    width: 65px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -32px;
    margin-top: -32px; }

.results {
  padding-top: 220px; }
  .results .collage {
    width: 50%;
    height: 500px;
    background: url("../img/skate2.jpg") no-repeat left top/80% 80%;
    background-size: cover;
    position: absolute;
    left: 0; }
  .results .collage img {
    display: block;
    position: absolute;
    width: 350px;
    object-fit: cover;
    height: 450px;
    right: -50px;
    bottom: -250px; }
  .results .easy {
    margin-left: 130px; }
    .results .easy .easy-title {
      margin-bottom: 30px; }
    .results .easy .easy-text {
      margin-bottom: 62px; }
    .results .easy .easy-point {
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 0.3em;
      font-weight: 500;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      display: block;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.4s ease; }
      .results .easy .easy-point .social-text {
        padding-left: 15px; }
      .results .easy .easy-point .easy-photo__first {
        transition: all 0.5s ease; }
      .results .easy .easy-point .easy-photo__first:hover {
        transform: scale(1.3); }
      .results .easy .easy-point .easy-photo__second {
        transition: all 0.5s ease; }
      .results .easy .easy-point .easy-photo__second:hover {
        transform: scale(1.3); }

.be-static {
  position: static; }

.works {
  padding-top: 480px; }
  .works .works-tabs {
    margin-left: 130px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-top: 70px; }
    .works .works-tabs .works-tabs__item a {
      color: #ff1f31;
      text-decoration: none;
      transition: all 0.3s ease-in; }
      .works .works-tabs .works-tabs__item a:hover {
        color: #f8f8f8; }
  .works .works-wrap {
    flex-wrap: wrap;
    margin-top: 100px; }
  .works .works-wrap__item {
    margin-bottom: 30px;
    transition: all 1s ease-in;
    display: block;
    position: relative; }
    .works .works-wrap__item img {
      width: 100%;
      object-fit: cover;
      max-width: 380px;
      height: 100%;
      max-height: 280px;
      transition: all 0.5s ease-in-out; }
  .works .works-wrap__item img:hover {
    box-shadow: -1px 1px 5px #ff0001;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.5s ease; }
  .works .works-wrap__item:hover:after {
    content: "";
    display: block;
    height: 65px;
    width: 65px;
    background: url("../img/youtube.svg");
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -30px; }
  .works .tabs__content {
    display: none !important; }
  .works .tabs__content.active {
    display: flex !important;
    transition: all 0.5s ease-in-out; }

.testimonials {
  padding-top: 250px; }
  .testimonials .contributor {
    margin-top: 120px; }
  .testimonials .contributor__title {
    margin-bottom: 20px; }
  .testimonials .cont-photo {
    display: block;
    width: 100%; }
    .testimonials .cont-photo img {
      width: 100%;
      object-fit: cover; }
  .testimonials .contribution-carousel .owl-nav {
    display: flex; }
    .testimonials .contribution-carousel .owl-nav .owl-prev {
      margin-right: 25px !important; }

.clients {
  padding-top: 280px; }
  .clients .clients-row {
    margin-top: 125px; }
    .clients .clients-row .clients-row__item img {
      width: 100%;
      max-width: 85px; }

.clients-row__black {
  z-index: 1;
  width: 100%;
  max-width: 115px;
  height: 100%;
  background-image: url("../img/sony-black.svg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0; }
  .clients-row__black:nth-child(1) {
    background-image: url("../img/xiaomi-black.svg");
    background-size: cover; }
  .clients-row__black:nth-child(2) {
    background-image: url("../img/tinder-black.svg");
    background-size: cover; }
  .clients-row__black:nth-child(3) {
    background-image: url("../img/icon-black.svg");
    background-size: cover; }
  .clients-row__black:nth-child(4) {
    background-image: url("../img/nike-black.svg");
    background-size: cover; }

.image-white {
  z-index: 5; }

.social .create-box {
  margin-top: 120px; }
  .social .create-box .create {
    font-size: 17px;
    letter-spacing: 0.3em;
    position: relative; }
.social .create-social__box .create-social {
  display: block;
  margin-left: 15px;
  transition: all 0.5s ease-out;
  width: 100%;
  position: absolute;
  top: 115px;
  left: 335px; }
  .social .create-social__box .create-social:nth-child(2) {
    top: 70px;
    left: 290px; }
  .social .create-social__box .create-social:nth-child(3) {
    top: 160px;
    left: 290px; }
  .social .create-social__box .create-social .create-link {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.4s ease; }
  .social .create-social__box .create-social .create-link:hover {
    transform: scale(1.2); }

.owl-nav-black {
  background-image: url("../img/pagination-left-black.svg");
  background-repeat: no-repeat; }

@media screen and (max-width: 1200px) {
  .gravity {
    margin-top: 0;
    height: auto; }
    .gravity .nav .hero {
      position: relative;
      width: 100%;
      height: 550px;
      top: 0; }
    .gravity .nav .responsive {
      display: flex;
      flex-flow: column;
      align-items: center;
      margin: 0 auto; }
    .gravity .nav .container .row .video {
      left: 50px;
      bottom: -100px;
      width: 250px;
      height: 200px; }
    .gravity .nav .offer .offer-count {
      margin-top: 0; }
      .gravity .nav .offer .offer-count .offer-count-title {
        font-size: 32px; }
      .gravity .nav .offer .offer-count .offer-count-text {
        font-size: 17px; }
      .gravity .nav .offer .offer-count .btn {
        font-size: 12px; }
    .gravity .be-static {
      margin: 0 auto;
      margin-top: 80px; }

  .intro-nav-link {
    display: none; }

  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center; }

  .works .works-tabs {
    margin-left: 0; }
  .works .works-wrap .works-wrap__item {
    width: 30%; }
    .works .works-wrap .works-wrap__item img {
      display: block;
      width: 100%; }

  .problems {
    padding-top: 100px; }
    .problems .about .about-title {
      font-size: 32px; }
    .problems .about .about-text {
      font-size: 17px; }

  .services .slider {
    margin-top: 50px; }
  .services .section-title__heading {
    font-size: 32px; }

  .works {
    padding-top: 315px; }
    .works .section-title__heading {
      font-size: 32px; }

  .results .easy .easy-title {
    font-size: 32px; }
  .results .easy .easy-text {
    font-size: 19px; }

  .testimonials .contribution-title__heading {
    font-size: 32px; } }
@media screen and (max-width: 768px) {
  .works .works-tabs {
    margin-left: 0; }

  .gravity .nav .hero {
    position: relative;
    width: 100%;
    height: 200px;
    top: 0;
    max-width: 255px; }
  .gravity .nav .offer .offer-count {
    width: 100%; }
  .gravity .nav .responsive {
    align-items: center;
    margin: 0 auto; }

  .results .collage {
    position: relative;
    width: 100%;
    max-width: 560px; }
    .results .collage img {
      width: 100%;
      max-width: 300px;
      height: 100%;
      max-height: 380px; }
  .results .easy {
    margin-top: 0px;
    margin-left: 65px; }
  .results .easy-title {
    font-size: 30px;
    width: 100%;
    max-width: 420px; }
  .results .easy-text {
    font-size: 17px;
    width: 100%;
    max-width: 420px; }

  .owl-carousel .owl-item img {
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: cover; }

  .problems {
    padding-top: 60px; }
    .problems .poster {
      width: 100%;
      height: auto;
      max-width: 400px; }
    .problems .about {
      margin-top: 50px; }
      .problems .about .about-title {
        font-size: 30px;
        width: 100%;
        max-width: 380px; }
      .problems .about .about-text {
        font-size: 16px;
        width: 100%;
        max-width: 500px; }
      .problems .about .about-author .about-name {
        font-size: 18px; }

  .works {
    margin-top: 215px; }

  .services .section-title__heading {
    font-size: 27px; }
  .services .serv-list__left {
    font-size: 17px; }
  .services .serv-list__right {
    font-size: 17px; }

  .testimonials .contribution-title__heading {
    font-size: 32px; } }
@media screen and (max-width: 450px) {
  .works {
    margin-top: 0;
    padding-top: 120px; }
    .works .section-title {
      text-align: center; }
    .works .section-title__heading {
      font-size: 29px; }
    .works .works-tabs {
      letter-spacing: 0;
      font-size: 13px; }

  .results .easy {
    margin-top: 315px; }
    .results .easy .easy-title {
      font-size: 26px; }
    .results .easy .easy-text {
      font-size: 16px; }

  .testimonials {
    padding-top: 220px; }
    .testimonials .contribution-title__heading {
      font-size: 26px; }
    .testimonials .contribution-title {
      text-align: center; }
    .testimonials .contributor {
      margin-top: 40px; }
    .testimonials .owl-carousel .owl-item img {
      height: 100%;
      max-height: 480px; }

  .clients {
    padding-top: 80px; }
    .clients .contribution-title__heading {
      font-size: 32px;
      text-align: center; }
    .clients .clients-row {
      margin-top: 80px; }
      .clients .clients-row .clients-row__item {
        width: 100%;
        max-width: 50px; } }

/*# sourceMappingURL=main.css.map */
