.clients {
    margin-top: 100px;

    .clients-row {
        margin-top: 95px;

        .clients-row__item {

            img {
                width: 100%;
                max-width: 85px;
            }
        }
    }
}