@import "vars";

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

a {
    text-decoration: none;
    color: #f8f8f8;
}

li {
    text-decoration: none;
    list-style: none;
}

body {
    font-family: $serif;
    align-items: center;
    background-color: #232323;
    color: #f8f8f8;
    transition: all 0.7s ease;
}

button {
    display: block;
}

h1, h2, h3, h4, h5 {
    font-style: normal;
    font-weight: 900;
    color: #f8f8f8;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 22px;
}

a {
    text-decoration: none;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    flex-direction: column;
}

.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    background-color: rgba(52, 58, 64, 0.5);
    line-height: 45px;
    display: none;
    transition: all 0.2s linear;

    &:hover {
        color: $red;
    }
}


.show {
    display: block;
}


.be-static {
    position: static;
}













@import "intro";
@import "problems";
@import "services";
@import "results";
@import "work";
@import "testimonials";
@import "socials";
@import "media";








