* {
  margin: 0;
  box-sizing: border-box;
  padding: 0; }

a {
  text-decoration: none;
  color: #f8f8f8; }

li {
  text-decoration: none;
  list-style: none; }

body {
  font-family: "PT Serif", serif;
  align-items: center;
  background-color: #232323;
  color: #f8f8f8;
  transition: all 0.7s ease; }

button {
  display: block; }

h1, h2, h3, h4, h5 {
  font-style: normal;
  font-weight: 900;
  color: #f8f8f8; }

h2 {
  font-size: 38px; }

h3 {
  font-size: 22px; }

a {
  text-decoration: none; }

ul, li {
  display: block;
  padding: 0;
  margin: 0; }

.container {
  display: flex;
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  flex-direction: column; }

.menu-icon {
  position: relative;
  z-index: 19;
  display: none;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center; }

.menu-icon-active .menu-icon-line {
  background-color: transparent;
  display: block;
  transition: 0.2s; }
.menu-icon-active .menu-icon-line:before {
  transform: rotate(45deg);
  top: 0;
  transition: transform 0.2s ease-in; }
.menu-icon-active .menu-icon-line:after {
  transform: rotate(-45deg);
  top: 0;
  transition: transform 0.2s ease-in; }

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background-color: rgba(52, 58, 64, 0.5);
  line-height: 45px;
  display: none;
  transition: all 0.2s linear; }
  .scroll-to-top:hover {
    color: #e11e1e; }

.menu-icon-line {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #f8f8f8; }
  .menu-icon-line:after {
    position: absolute;
    content: "";
    left: 0;
    top: 10px;
    width: 30px;
    height: 5px;
    background-color: #f8f8f8;
    transition: transform 0.2s ease-in; }
  .menu-icon-line:before {
    position: absolute;
    content: "";
    left: 0;
    top: -10px;
    width: 30px;
    height: 5px;
    background-color: #f8f8f8;
    transition: transform 0.2s ease-in; }

.mobile-nav {
  opacity: 0;
  padding: 50px;
  z-index: 6;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 350px;
  background-color: rgba(3, 3, 3, 0.7); }
  .mobile-nav .mobile-nav:active {
    opacity: 1;
    display: block; }
  .mobile-nav .mobile-nav__title {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 30px;
    color: #ff1f31; }
    .mobile-nav .mobile-nav__title .mobile-nav__list {
      list-style-type: none;
      margin: 0;
      padding: 0; }
  .mobile-nav .mobile-nav__item {
    margin-bottom: 30px; }
    .mobile-nav .mobile-nav__item .mobile-nav__link {
      text-decoration: none;
      font-weight: 600;
      font-size: 22px;
      transition: color 0.2s ease-in; }
      .mobile-nav .mobile-nav__item .mobile-nav__link:hover {
        color: #fc0b00; }

.show {
  display: block; }

.be-static {
  position: static; }

@media screen and (max-width: 1200px) {
  .gravity {
    margin-top: 0;
    height: auto; }
    .gravity .nav .hero {
      position: relative;
      width: 100%;
      height: 550px;
      top: 0; }
    .gravity .nav .responsive {
      display: flex;
      flex-flow: column;
      align-items: center;
      margin: 0 auto; }
    .gravity .nav .container .row .video {
      left: 50px;
      bottom: -100px;
      width: 250px;
      height: 200px; }
    .gravity .nav .offer .offer-count {
      margin-top: 0; }
      .gravity .nav .offer .offer-count .offer-count-title {
        font-size: 32px; }
      .gravity .nav .offer .offer-count .offer-count-text {
        font-size: 17px; }
      .gravity .nav .offer .offer-count .btn {
        font-size: 12px; }
    .gravity .be-static {
      margin: 0 auto;
      margin-top: 80px; }

  .intro-nav-link {
    display: none; }

  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center; }

  .works .works-tabs {
    margin-left: 0; }
  .works .works-wrap .works-wrap__item {
    width: 30%; }
    .works .works-wrap .works-wrap__item img {
      display: block;
      width: 100%; }

  .problems {
    padding-top: 100px; }
    .problems .about .about-title {
      font-size: 32px; }
    .problems .about .about-text {
      font-size: 17px; }

  .services .slider {
    margin-top: 50px; }
  .services .section-title__heading {
    font-size: 32px; }

  .works {
    padding-top: 315px; }
    .works .section-title__heading {
      font-size: 32px; }

  .results .easy .easy-title {
    font-size: 32px; }
  .results .easy .easy-text {
    font-size: 19px; }

  .testimonials .contribution-title__heading {
    font-size: 32px; } }
@media screen and (max-width: 768px) {
  .works .works-tabs {
    margin-left: 0; }

  .gravity .nav .hero {
    position: relative;
    width: 100%;
    height: 200px;
    top: 0;
    max-width: 255px; }
  .gravity .nav .offer .offer-count {
    width: 100%; }
  .gravity .nav .responsive {
    align-items: center;
    margin: 0 auto; }

  .results .collage {
    position: relative;
    width: 100%;
    max-width: 560px; }
    .results .collage img {
      width: 100%;
      max-width: 300px;
      height: 100%;
      max-height: 380px; }
  .results .easy {
    margin-top: 0px;
    margin-left: 65px; }
  .results .easy-title {
    font-size: 30px;
    width: 100%;
    max-width: 420px; }
  .results .easy-text {
    font-size: 17px;
    width: 100%;
    max-width: 420px; }

  .owl-carousel .owl-item img {
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: cover; }

  .problems {
    padding-top: 60px; }
    .problems .poster {
      width: 100%;
      height: auto;
      max-width: 400px; }
    .problems .about {
      margin-top: 50px; }
      .problems .about .about-title {
        font-size: 30px;
        width: 100%;
        max-width: 380px; }
      .problems .about .about-text {
        font-size: 16px;
        width: 100%;
        max-width: 500px; }
      .problems .about .about-author .about-name {
        font-size: 18px; }

  .works {
    margin-top: 215px; }

  .services .section-title__heading {
    font-size: 27px; }
  .services .serv-list__left {
    font-size: 17px; }
  .services .serv-list__right {
    font-size: 17px; }

  .testimonials .contribution-title__heading {
    font-size: 32px; } }
@media screen and (max-width: 450px) {
  .works {
    margin-top: 0;
    padding-top: 120px; }
    .works .section-title {
      text-align: center; }
    .works .section-title__heading {
      font-size: 29px; }
    .works .works-tabs {
      letter-spacing: 0;
      font-size: 13px; }

  .results .easy {
    margin-top: 315px; }
    .results .easy .easy-title {
      font-size: 26px; }
    .results .easy .easy-text {
      font-size: 16px; }

  .testimonials {
    padding-top: 220px; }
    .testimonials .contribution-title__heading {
      font-size: 26px; }
    .testimonials .contribution-title {
      text-align: center; }
    .testimonials .contributor {
      margin-top: 40px; }
    .testimonials .owl-carousel .owl-item img {
      height: 100%;
      max-height: 480px; }

  .clients {
    padding-top: 80px; }
    .clients .contribution-title__heading {
      font-size: 32px;
      text-align: center; }
    .clients .clients-row {
      margin-top: 80px; }
      .clients .clients-row .clients-row__item {
        width: 100%;
        max-width: 50px; } }
.btn {
  background-color: #e11e1e;
  color: #f8f8f8;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  display: inline;
  padding: 13px 26px;
  border: none;
  border-radius: 10px;
  letter-spacing: 0.3em;
  text-align: center;
  transition: all 0.3s linear; }
  .btn:hover {
    background: #b41818; }

.header {
  display: flex;
  width: 100%;
  overflow: hidden; }
  .header .top-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 78px;
    color: #f8f8f8; }
  .header .top-row-panel {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center; }
    .header .top-row-panel .top-panel-right {
      display: flex;
      align-items: center; }
    .header .top-row-panel .intro-navigation {
      margin-top: 30px; }
      .header .top-row-panel .intro-navigation .intro-nav-link {
        position: relative;
        color: #f8f8f8;
        margin-right: 52px;
        text-decoration: none;
        letter-spacing: 0.4em;
        text-transform: uppercase;
        transition: all 0.2s linear; }
      .header .top-row-panel .intro-navigation .intro-nav-link:after {
        position: absolute;
        right: -35px;
        top: 10px;
        content: "";
        display: block;
        height: 8px;
        width: 8px;
        background-color: #e11e1e;
        transform: rotate(45deg); }
      .header .top-row-panel .intro-navigation .intro-nav-link:last-child {
        margin-right: 0; }
      .header .top-row-panel .intro-navigation .intro-nav-link:last-child:after {
        display: none; }
      .header .top-row-panel .intro-navigation .intro-nav-link:hover, .header .top-row-panel .intro-navigation .active {
        color: #e11e1e; }

.gravity {
  height: 100vh;
  margin-top: 50px; }
  .gravity .nav {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0 30px; }
    .gravity .nav .container .row .col-md-4 img {
      width: 100%;
      height: 100%;
      max-width: 100px; }
    .gravity .nav .container .row .col-md-3 .menu {
      width: 100%;
      background-color: transparent;
      max-width: 75px;
      border: none; }
      .gravity .nav .container .row .col-md-3 .menu img {
        width: 100%;
        height: 100%;
        max-width: 50px;
        max-height: 50px; }
    .gravity .nav .container .row .col-md-3 .search {
      width: 100%;
      align-items: center;
      max-width: 75px;
      background: transparent;
      border: none; }
      .gravity .nav .container .row .col-md-3 .search img {
        width: 100%;
        max-width: 50px; }
    .gravity .nav .container .row .video {
      position: absolute;
      left: -160px;
      bottom: 166px;
      width: 400px;
      height: 310px;
      display: block;
      background: url("../images/src/apostolos-vamvouras-74uGwgJUtsk-unsplash.jpg") no-repeat;
      background-size: cover;
      justify-content: center;
      align-items: center;
      border-radius: 15px; }
      .gravity .nav .container .row .video:after {
        position: absolute;
        content: '';
        display: block;
        background: url("../images/src/youtube.svg");
        width: 65px;
        height: 65px;
        left: 40%;
        top: 40%; }
    .gravity .nav .offer .offer-count {
      margin-top: 150px; }
      .gravity .nav .offer .offer-count .offer-count-title {
        font-size: 52px;
        letter-spacing: 2px;
        font-weight: 400; }
      .gravity .nav .offer .offer-count .offer-count-text {
        margin: 30px 0 45px; }
    .gravity .nav .hero {
      margin-top: 60px;
      background: url("../images/src/jansen-yang-l-Ihazll6D8-unsplash.jpg") no-repeat right top;
      background-size: cover;
      width: 600px;
      height: 800px;
      right: 100px;
      position: absolute;
      top: 0;
      border-radius: 15px; }

.problems {
  width: 100%;
  display: flex;
  height: 100vh; }
  .problems .poster {
    margin-top: 140px;
    width: 100%;
    border-radius: 15px; }
    .problems .poster img {
      object-fit: cover;
      width: 100%;
      max-width: 720px;
      height: 100%; }
  .problems .about .about-title {
    padding: 0 10px;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
    width: 100%; }
  .problems .about .about-text {
    width: 100%;
    padding: 0 10px; }
  .problems .about .about-link {
    width: 100%;
    max-width: 200px; }
  .problems .about-author {
    background: url("../images/src/user.svg") no-repeat left center;
    padding: 5px 0 5px 110px;
    margin-top: 40px; }
    .problems .about-author .about-name {
      font-size: 20px;
      padding-top: 15px; }

.services {
  width: 100%;
  display: flex; }
  .services .section-title__label {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin-bottom: 40px; }
  .services .serv-list {
    color: #ff1f31;
    margin-top: 70px; }
    .services .serv-list .serv-list__item {
      margin-bottom: 20px; }
  .services .serv-list__left {
    margin-left: 37px; }
  .services .slider {
    margin-top: 20px; }
  .services .owl-carousel .item, .services .owl-item {
    width: 100%;
    max-width: 920px !important;
    position: relative; }
  .services .owl-theme .owl-nav {
    text-align: left; }
  .services .owl-carousel .owl-prev {
    margin-right: 25px !important; }
  .services .owl-nav {
    display: flex;
    margin-top: 50px; }

.results {
  width: 100%;
  height: 100vh;
  display: flex;
  padding-top: 100px; }
  .results .collage {
    width: 50%;
    height: 500px;
    background: url("../images/src/skate2.jpg") no-repeat left top/80% 80%;
    background-size: cover;
    position: absolute;
    left: 0;
    border-radius: 15px; }
  .results .collage img {
    display: block;
    position: absolute;
    width: 350px;
    object-fit: cover;
    height: 450px;
    right: -50px;
    bottom: -250px;
    border-radius: 15px; }
  .results .easy {
    margin-left: 130px; }
    .results .easy .easy-title {
      margin-bottom: 30px; }
    .results .easy .easy-text {
      margin-bottom: 62px; }
    .results .easy .easy-point {
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 0.3em;
      font-weight: 500;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      display: block;
      text-decoration: none;
      transition: all 0.4s ease; }
      .results .easy .easy-point:hover {
        color: #e11e1e; }
      .results .easy .easy-point .social-text {
        padding-left: 15px; }
      .results .easy .easy-point .easy-photo__first {
        transition: all 0.5s ease; }
      .results .easy .easy-point .easy-photo__first:hover {
        transform: scale(1.3); }
      .results .easy .easy-point .easy-photo__second {
        transition: all 0.5s ease; }
      .results .easy .easy-point .easy-photo__second:hover {
        transform: scale(1.3); }

.works {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  display: flex; }
  .works .works-tabs {
    margin-left: 130px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-top: 70px; }
    .works .works-tabs .works-tabs__item a {
      color: #ff1f31;
      text-decoration: none;
      transition: all 0.3s ease-in; }
      .works .works-tabs .works-tabs__item a:hover {
        color: #f8f8f8; }
  .works .works-wrap {
    flex-wrap: wrap;
    margin-top: 100px; }
  .works .works-wrap__item {
    margin-bottom: 30px;
    transition: all 0.3s ease-in;
    display: block;
    position: relative; }
    .works .works-wrap__item img {
      width: 100%;
      object-fit: cover;
      max-width: 380px;
      height: 100%;
      max-height: 280px;
      transition: all 0.3s ease-in-out; }
  .works .works-wrap__item img:hover {
    box-shadow: 1px -1px 5px 1px #ff0001;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.5s ease; }
  .works .works-wrap__item:hover:after {
    content: "";
    display: block;
    height: 65px;
    width: 65px;
    background: url("../images/src/youtube.svg");
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -30px;
    transition: all 0.2s linear; }
  .works .tabs__content {
    display: none !important; }
  .works .tabs__content.active {
    display: flex !important;
    transition: all 0.3s ease-in-out; }

.testimonials {
  margin-top: 120px;
  width: 100%;
  display: flex;
  height: 100vh; }
  .testimonials .contributor {
    margin-top: 120px; }
    .testimonials .contributor .contributor__title {
      margin-bottom: 20px; }
  .testimonials .cont-photo {
    display: block;
    width: 100%; }
    .testimonials .cont-photo img {
      width: 100%;
      object-fit: cover; }
  .testimonials .contribution-carousel .owl-nav {
    display: flex; }
    .testimonials .contribution-carousel .owl-nav .owl-prev {
      margin-right: 25px !important; }
  .testimonials .contribution-description {
    width: 100%;
    max-width: 400px; }
    .testimonials .contribution-description .description {
      font-family: "Kaushan Script", cursive;
      margin-top: 20px;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 1px; }

.social .create-box {
  display: flex;
  width: 100%;
  margin-top: 90px;
  margin-bottom: 50px; }
  .social .create-box .create {
    font-size: 17px;
    letter-spacing: 0.3em;
    position: relative; }
.social .create-social__box {
  width: 100%;
  display: flex;
  height: 100%; }
  .social .create-social__box .create-social {
    display: block;
    transition: all 0.5s ease-out;
    width: 100%;
    max-width: 25px;
    position: absolute;
    top: 110px;
    left: 205px; }
    .social .create-social__box .create-social img {
      width: 100%;
      max-width: 30px; }
    .social .create-social__box .create-social:nth-child(2) {
      top: 60px;
      left: 160px; }
    .social .create-social__box .create-social:nth-child(3) {
      top: 146px;
      left: 157px; }
    .social .create-social__box .create-social .create-link {
      text-decoration: none;
      transition: all 0.4s ease; }
    .social .create-social__box .create-social .create-link:hover {
      transform: scale(1.2); }

/*# sourceMappingURL=main.css.map */
